In [1]:
import sqlalchemy
import pandas as pd
import psycopg2
import matplotlib as plt

In [6]:
from sqlalchemy import create_engine

# Postgres username, password, and database name
POSTGRES_ADDRESS = 'localhost' ## INSERT YOUR DB ADDRESS IF IT'S NOT ON PANOPLY
POSTGRES_PORT = '5432'
POSTGRES_USERNAME = 'seungin' ## CHANGE THIS TO YOUR PANOPLY/POSTGRES USERNAME
POSTGRES_PASSWORD = 'dratini' ## CHANGE THIS TO YOUR PANOPLY/POSTGRES PASSWORD POSTGRES_DBNAME = 'database' ## CHANGE THIS TO YOUR DATABASE NAME
POSTGRES_DBNAME = 'agency-loan-level'

# A long string that contains the necessary Postgres login information
postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'.format(
    username=POSTGRES_USERNAME,
    password=POSTGRES_PASSWORD,
    ipaddress=POSTGRES_ADDRESS,
    port=POSTGRES_PORT,
    dbname=POSTGRES_DBNAME)
               )

print(postgres_str)
cnx = create_engine(postgres_str)

postgresql://seungin:dratini@localhost:5432/agency-loan-level

In [7]:
query = "SELECT * FROM agencies;"
agencies = pd.read_sql_query(query, cnx)

In [8]:
agencies.head()

   id         name
0   0   Fannie Mae
1   1  Freddie Mac